.company-list-container {
    background-color: var(--foreground-white);
    width: 100%;
    height: 365px;
    border: 1px solid var(--foreground-dark);

    overflow: auto;
}

.cert-date-pill {
    width: 65px;
    height: 15px;
    border-radius: 4px;
}

.span-pill {
    color: var(--foreground-white);
    font-size: 10px;
}

.company-item-container {
    height: 30px;
}

.table-c {
    height: 50px;
}
.table-c:hover {
    background-color: var(--background);
}

.table-name-div {
    overflow: hidden;
    width: 130px;
}

.table-divider {
    width: 1px;
    height: 20px;
    background-color: var(--foreground-dark);
}

.CNPJ-width {
    width: 115px;
}

.table-action {
    width: 25px;
    height: 25px;
    border-radius: 4px;
    box-sizing: border-box;
}

.table-action:hover {
    background-color: var(--foreground-dark);
}

.table-action:active {
    border: 1px solid var(--status-info);
}