.company-list-container {
    background-color: var(--foreground-white);
    width: 100%;
    height: 365px;
}

.cert-date-pill {
    width: 65px;
    height: 15px;
    border-radius: 4px;
}

.span-pill {
    color: var(--foreground-white);
    font-size: 10px;
}

.company-item-container {
    height: 30px;
}