@import "../assets/fonts/inter/stylesheet.css";

@import "./components/utilities.css";

/* @import "./components/template/Footer.css"; */
@import "./components/template/Header.css";
@import "./components/template/Aside.css";
@import "./components/template/Content.css";
/* @import "./components/template/Main.css"; */
/* @import "./components/template/Nav.css"; */

/* @import "./components/Terminal/Terminal.css"; */
/* @import "./components/Users/Users.css"; */
/* @import "./components/Home/Home.css"; */

:root {
    --header-height: 25px;
    --aside-width: 60px;

    --status-alert: #F0AD4E;
    --status-info: #17A2B8;
    --status-danger: #DC3545;
    --status-sucess: #28A745;

    --secondary-text-icons: #6C757D;
    --secondary-black: #000000;

    --foreground-dark: #D7D6D6;
    --foreground-white: #FFFFFF;

    --background: #FAFAFA;
}

* {
    padding: 0;
    margin: 0;
    font-family: Inter, serif;
    text-decoration: none;
    user-select: none;
}

h1 {
    font-size: 24px;
    line-height: 20px;
    font-style: normal;
    font-weight: normal;
}

h2 {
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
    font-weight: normal;
}

span {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: var(--secondary-text-icons);
}

.app-border {
    width: 490px;
    height: 530px;
    border: 2px solid #D7D6D6;
    box-sizing: border-box;
}

/* 
.app {
    margin: 0px;
    
    transition: 0.5s;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--gray-color);
    border-radius: 2px;
}

.card {
    background: var(--bg-color);
    color: var(--white-color);
    padding: .5rem;
}

.small-card {
    background: var(--bg-color);
    color: var(--white-color);
    padding: .5rem;
    height: 50px;
    border-radius: 5px;
}

.alert-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    border-radius: 5px;
}
.alert-success-custom {
    border: 1px solid rgb(80, 218, 172);
    color: rgb(80, 218, 172);
    font-weight: 500;
}
.alert-alert-custom {
    border: 1px solid #fed049;
    color: #fed049;
    font-weight: 500;
}
.alert-danger-custom {
    border: 1px solid #fb3640;
    color: #fb3640;
    font-weight: 500;
}
.alert-info-custom {
    border: 1px solid #51c4d3;
    color: #51c4d3;
    font-weight: 500;
}

.w-15 {
    width: 15%;
}

.no-click {pointer-events: none;} */